.image {
  width: 300px;
}

.details {
  display: flex;
  gap: 30px;
}

.additionalInfo {
  padding-top: 30px;
  border-top: 1px solid dimgrey;
}

.buttons {
  display: flex;
  gap: 20px;
  list-style: none;
  text-decoration: none;
}

.button {
  border: none;
  background-color: rgb(100, 100, 224);
  color: white;
  border-radius: 8px;
  padding: 6px 25px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 500ms;
  margin-bottom: 20px;
}

.button:hover {
  background-color: rgb(27, 27, 195);
}
