.button {
  border: none;
  background-color: rgb(100, 100, 224);
  color: white;
  border-radius: 8px;
  padding: 6px 25px;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 500ms;
  margin-left: 20px;
}

.button:hover {
  background-color: rgb(27, 27, 195);
}

.input {
  border-radius: 8px;
  border: none;
  padding: 9px;
}
